<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Dish" alias="Dish"/>
        <typeAlias type="lt.vu.mybatis.model.Customer" alias="Customer"/>
        <typeAlias type="lt.vu.mybatis.model.DishOrder" alias="DishOrder"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="PlayersDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/CustomerMapper.xml"/>
        <mapper resource="mybatis.xml/DishMapper.xml"/>
        <mapper resource="mybatis.xml/DishOrderMapper.xml"/>
    </mappers>
</configuration>
